<div class="wrapper">
  <h1>
    Welcome to, MSGL
  </h1>
  <div class="actions">
    <button class="actions_btn add-block">add-block</button>
  </div>
  <div class="container">
  </div>
</div>

{{outlet}}
